services:
    nginx:
        image: nginx:1.29.4-alpine3.23
        ports:
            - "8080:80"
        volumes:
            - ./public:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./docker/php-fpm/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        links:
            - php-fpm

    php-fpm:
        build:
            context: .
            dockerfile: docker/php-fpm/Dockerfile
        environment:
            COMPOSER_MEMORY_LIMIT: -1
        volumes:
            - ./:/app
        working_dir: "/app"
